.tables-container {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    .left {
        flex-basis: 250px;
        height: 100%;
        flex-shrink: 0;
        flex-grow: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.15), 0 0 0 rgba(16, 22, 26, 0), 0 0 0 rgba(16, 22, 26, 0);
        .catelog-container {
            z-index: 1;
            overflow-y: scroll;
            flex-grow: 1;
            width: 100%;
        }
        .add-container {
            width: 100%;
            flex-basis: 30px;
            flex-grow: 0;
            flex-shrink: 0;
            text-align: center;
            line-height: 30px;
            color: #5c7080;
            &:hover {
                background-color: rgba(191, 204, 214, 0.4);
            }
            &:active {
                background-color: rgba(191, 204, 214, 0.7);                
            }
        }
    }
    .right  {
        height: 100%;
        flex: 1;
        overflow: hidden;
        width: 100%;
        display: flex;
        flex-direction: column;
        .top {
            flex-basis: 50px;
            flex-shrink: 0;
            flex-grow: 0;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid rgba(16, 22, 26, 0.15);
            .pt-button {
                outline: none;
            }
            .top-left {
                display: flex;
                padding-left: 15px;
                align-items: center;
                button {
                    margin-right: 10px;
                }
                .fresh-button {
                    &::before {
                        font-size: 14px;
                    }
                }
            }
            .top-center {
                display: flex;
                align-items: center;
                justify-content: center;
                .tree-icon {
                    transform: rotate(90deg);
                }
            }
            .top-right {
                height: 100%;
                display: flex;
                align-items: center;
                padding-right: 15px;
            }
        }
        .bottom {
            flex-basis: 50px;
            flex-shrink: 0;
            flex-grow: 0;
            padding: 0 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .tool-box {
                display: flex;
                align-items: center;
                .box {
                    margin-left: 5px;
                }
                .limit {
                    width: 200px;
                    display: flex;
                    .label {
                        height: 24px;
                        line-height: 24px;
                        margin: 0 10px;
                    }
                    .number-container {
                        width: 70px;
                        input {
                            height: 24px;
                        }
                        .pt-button-group {
                            transform: scale(0.8);
                            position: relative;
                            top: -3px;
                            left: -2px;
                            button {
                                outline: none;
                            }
                        }
                    }
                }
            }
            .page-container {
                ul {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-end;
                    margin: 0;
                    li {
                        list-style-type: none;
                        margin: 0 2px;
                        color: #202B33;
                        padding: 0;
                        outline: none;
                        a {
                            color: #202B33;
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 0 3px;
                        }
                    }
                }
            }
        }
        .middle {
            width: 100%;
            overflow: hidden;
            flex-grow: 1;
            position: relative;
        }
        .middle-empty {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
.add-edit-dialog {
    .editable-container {
        padding: 15px;
        textarea {
            outline: none;
        }
    }
    .control {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding-right: 15px;
        button {
            margin-left: 5px;
        }
    }
}