.header-container {
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo {
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 1px;
            cursor: pointer;
        }
    }
}

.prompt-container, .confirm-container {
    width: 100%;
    .pt-alert-contents {
        width: 100%;
    }
    .msg {
        padding: 10px 0;
        font-size: 16px;
    }
    input {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
    }
}