.header-container {
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left {
            width: 250px;
            display: flex;
            height: 50px;
            align-items: center;
            .panel {
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 16px;
                font-weight: 600;
                border-radius: 3px;
                border: 1px solid #293742;
                cursor: pointer;
                &:hover {
                    background: #30404D;
                }
                &:active {
                    background: #293742;
                }
            }
        }
        .logo {
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 1px;
            cursor: pointer;
        }
    }
}

.prompt-container, .confirm-container {
    width: 100%;
    .pt-alert-contents {
        width: 100%;
    }
    .msg {
        padding: 10px 0;
        font-size: 16px;
    }
    input {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
    }
}